.form-news {
  position: relative;

  &__header {
    display: none;

    @media (max-width: $md3+px) {
      padding: 0 15px;
      border-top: 1px solid var(--color-gray);
      border-left: 1px solid var(--color-gray);
      border-right: 1px solid var(--color-gray);
      display: flex;
      align-items: center;
    }
  }

  &__title-category {
    padding-right: 20px;
    flex: 1 1 auto;
    font-size: 18px;
    color: var(--color-gold);
    text-align: center;
  }

  &__button-menu {
    i {
      font-size: 30px;
      color: var(--color-gold);
      transition: all 0.3s ease 0s;
    }

    &._active {
      i:before {
        transform: rotate(180deg);
      }
    }
  }


  &__menu {
    padding-top: 3px;
    display: flex;
  }

  @media (max-width: $md3+px) {
    &__menu {
      padding: 12px 0;
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 2;
      width: 280px;
      background-color: var(--color-white);
      box-shadow: 0px 4px 4px rgba(106, 58, 7, 0.25), -6px 0px 4px rgba(106, 58, 7, 0.25);

      &._show {
        display: block;
      }
    }
  }
}

.item-news-category {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-black);
  cursor: pointer;

  &:hover:not(._active) {
    color: var(--color-black);
    background-color: var(--color-gray);
  }

  @media (min-width: $md3+px) {
    margin: 0px 10px 0px 0px;
    height: 100%;
    padding: 10px 17px;
    border-top: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    border-right: 1px solid var(--color-gray);
    background-color: transparent;

    &:last-child {
        margin: 0px;
    }
  }

  @media (max-width: $md3+px) {
    display: block;
    padding: 10px 24px;
  }

  &._active {
    color: var(--color-white);
    background-color: var(--color-gold);
    cursor: default;
  }
}

.form-question-answer {

  &__item {
    input {
      display: none;

      &:checked + .form-question-answer__label {
        color: var(--color-gold);
        border-color: var(--color-gold);
      }
    }
  }

  &__label {
    padding: 12px 0px 12px 20px;
    margin: 0;
    font-size: 18px;
    color: var(--color-black);
    border-left: 8px solid var(--color-gray);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {
      color: var(--color-gold-light);
    }
  }
}

.form-documents {

  // .form-documents__button-open
  &__button-open {
    @media (min-width: 1100px) {
      display: none;
    }
  }

  // .form-documents__button-close
  &__button-close {
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px;

    @media (min-width: 1100px) {
      display: none;
    }
  }

  // .form-documents__wrapper
  &__wrapper {
    @media (max-width: $md1+px) {
      height: 100%;
      width: 100%;
      max-width: 400px;
      padding: 70px 30px 30px;
      background-color: var(--color-white);
      box-shadow: -7px 0px 7px -1px rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 0px;
      right: 0;
      z-index: 12;
      transition: all 0.3s ease 0s;
      transform: translateX(120%);
      overflow-y: auto;

      &._open {
        transform: translateX(0%);
      }
      
     @media (max-width: $md4+px) {
       padding: 70px 15px 15px;
     }
    }
  }

  // .form-documents__input
  &__input {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
    color: var(--color-gray-dark);
    position: relative;

    input {
      width: 100%;
      padding: 10px 35px 10px 15px;
      font-size: 16px;
      color: var(--color-gray-dark);
      border: 1px solid var(--color-gold);

      &:focus {
        box-shadow: 0px 0px 7px 1px rgba(196, 122, 44, 0.2) inset;
      }
    }

    i {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    @media (max-width: $md1+px) {
        margin: 0px 0px 40px 0px;
    }
  }

  // .form-documents__clear-all
  &__clear-all {
    font-size: 16px;
    color: var(--color-gray-dark);

    &:hover {
      text-decoration: underline;
    }
  }

  // .form-documents__filter
  &__filter {

  }

  // .form-documents__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }

    > .checkbox {
      margin: 0px 0px 15px 0px;
    }
  }

  // .form-documents__sub-checkbox
  &__sub-checkbox {
    padding-left: 40px;
    .checkbox:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
}

.input {
  font-size: 16px;
  color: var(--color-black);

  &._error {
    > input {
      border-color: red;
    }

    > .input__text-error {
      display: block;
    }
  }

  &._error-email > .input__text-error-email {
    display: block;
  }

  label {
    margin: 0px 0px 10px 0px;
    display: block;
    font-weight: 500;

    span {
      color: var(--color-red);
    }
  }

  input {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-gray);
    background-color: transparent;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px var(--color-white) inset !important;
    }

    &:focus {
      border: 1px solid var(--color-gold);
      box-shadow: 0 0 7px 1px rgba(196, 122, 44, 0.2) inset;
    }
  }
  // .input__password
  &__password {
    position: relative;

    .icon-password {
      font-size: 25px;
      color: var(--color-gray);
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
    }
    &._error > input {
      border-color: red;
    }

    &._error ~ .input__text-error {
      display: block;
    }
  }
  // .input__text-error
  // .input__text-error-email
  &__text-error,
  &__text-error-email {
    margin: 10px 0px 0px 0px;
    display: none;
    font-size: 14px;
    color: var(--color-red);
  }
}

.checkbox {
  &._error > .checkbox__label:before {
    border-color: var(--color-red);
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .checkbox__label:before {
      border: 2px solid var(--color-gold);
    }

    &:checked + .checkbox__label:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 7px;
      width: 12px;
      height: 7px;
      border-left: 2.5px solid var(--color-gold);
      border-bottom: 2.5px solid var(--color-gold);
      transform: rotate(-50deg);
    }
  }
  //.checkbox__label
  &__label {
    font-size: 16px;
    color: var(--color-black);
    display: flex;
    position: relative;
    cursor: pointer;

    //.checkbox__label_text
    &_text {
      flex: 1 1 auto;
    }

    //.checkbox__label_count
    &_count {
      margin: 0px 0px 0px 10px;
      color: var(--color-gray-dark);
    }

    &:before {
      content:'';
      margin: 0px 20px 0px 0px;
      align-self: flex-start;
      flex: 0 0 25px;
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: 1px solid var(--color-gray-dark);
      border-radius: 3px;
      left: 0;
      top: 0;
    }
    a {
      color: var(--color-blue-light);

      &:hover {
          text-decoration: underline;
      }
    }
  }
}

.button-login-social {
  margin: 0 15px;
  width: 40px;
}

.form-profile {
  width: 100%;
  max-width: 730px;

  // .form-profile__photo
  &__photo {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;


    &:hover {
      .form-profile__input-photo {
        transform: translateY(0%);
      }
    }
  }

  // .form-profile__input-photo
  &__input-photo {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.08) 38.54%, rgba(26, 26, 26, 0.22) 64.06%, rgba(26, 26, 26, 0.68) 99.6%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.3s ease 0s;

    label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding: 14px 0px;
      font-size: 14px;
      color: var(--color-white);
      cursor: pointer;
    }

    input {
      display: none;
    }
  }

  // .form-profile__photo
  &__profile {
    flex: 1 1 auto;
    
    @media (max-width: $md3+px) {
       width: 100%;
    }
  }
}


