.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 24px;
  color: var(--color-black);
  font-weight: 600;
  line-height: 1.35;
}

.h1_white,
.h2_white,
.h3_white,
.h4_white,
.h5_white,
.h6_white {
  color: var(--color-white);
}

.h1_gold,
.h2_gold,
.h3_gold,
.h4_gold,
.h5_gold,
.h6_gold {
  color: var(--color-gold);
}

.h1 {
  font-size: 32px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.button {
  width: 245px;
  display: inline-block;
  padding: 18px 0px;
  font-size: 16px;
  color: var(--color-white);
  font-weight: 500;
  text-align: center;
  background-color: var(--color-gold);
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &_search {
    width: auto;
    padding: 8px 20px;
  }

  &:hover,
  &:disabled {
    color: var(--color-white);
    background-color: var(--color-gold-light);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.button-small {
  padding: 5px 10px;
  font-size: 16px;
  color: var(--color-black);
  font-weight: 500;
  border: 1px solid var(--color-gold);
  transition: all 0.3s ease 0s;

  &:hover,
  &:disabled {
    color: var(--color-gold);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.title-underline {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 24px 0px;
  border-bottom: 2px solid var(--color-gold);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media (max-width: $md4+px) {
    display: block;
  }
  // .title-underline_white
  &_white {
    border-color: var(--color-white);

    .title-underline__title {
      color: var(--color-white);
    }
  }

  // .title-underline__title
  &__title {
    margin: 0px 24px 0px 0px;
    font-size: 24px;
    color: var(--color-black);
    font-weight: 600;
    @media (max-width: $md4+px) {
      margin: 0px 0px 16px 0px;
    }
  }

  // .title-underline__link
  &__link {
    color: var(--color-gray-dark);
    font-size: 16px;
    white-space: nowrap;

    &:hover {
      color: var(--color-gold);

      i:before {
        transform: translateX(3px);
      }
    }
  }
}

.title-full {
  padding: 16px;
  background-color: var(--color-gold);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media (max-width: $md4+px) {
    display: block;
  }
  // .title-full__title
  &__title {
    margin: 0;
    font-size: 24px;
    color: var(--color-white);
    font-weight: 600;
  }

  // .title-full__link
  &__link {
    margin: 0px 0px 0px 24px;
    color: var(--color-white);
    font-size: 16px;
    white-space: nowrap;

    &:hover {
      color: var(--color-white);

      i:before {
        transform: translateX(3px);
      }
    }

    @media (max-width: $md4+px) {
      display: inline-block;
      margin: 16px 0px 0px 0px;
    }
  }
}

.decor {
  transition: all 0.3s ease 0s;
  @media (hover: hover) {
    &:hover {
      box-shadow: 4px 4px transparent, 5px 5px var(--color-gold);
    }
  }
}

.advertising-banner {
  display: block;
}

.button-hover {
  padding: 8px 12px;
  font-size: 14px;
  color: var(--color-black);
  background-color: var(--color-gray);
  position: relative;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;

  &:hover {
    color: var(--color-black);

    .button-hover__hover-wrap {
      width: 225%;
      height: 300%;
    }
  }

  &__hover-wrap {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--color-gold-light);
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__text {
    position: relative;
    z-index: 3;

  }
}

.link-download {
  position: relative;

  @media (hover: hover) {
    &:hover {
      .link-download__bookmark {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &:hover {
    .link-download__name {
      color: var(--color-blue-light);
    }

    .link-download__person {
      color: var(--color-gold);
      border-color: var(--color-gold);
    }
  }

  &:not(:last-child) {
      margin: 0px 0px 15px 0px;
  }

  // .link-download__link
  &__link {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid var(--color-gray);
  }

  // .link-download__bookmark
  &__bookmark {
    font-size: 26px;
    color: var(--color-gray);
    position: absolute;
    top: -12px;
    right: 100px;
    transition: all 0.3s ease 0s;

    i {
      background-color: var(--color-white);
    }
    
    &:hover {
      color: var(--color-blue-light);
    }
    
    @media (hover: hover) {
      opacity: 0;
      visibility: hidden;
    }

    @media (max-width: $md4+px) {
      right: 30px;
    }
  }

  // .link-download__info
  &__info {
    flex: 1 1 auto;
    display: flex;
    margin-right: 30px;
    
    @media (max-width: $md4+px) {
      margin-right: 10px;
    }
  }

  // .link-download__icon-file
  &__icon-file {
    margin: 0px 35px 0px 0px;
    font-size: 40px;
    color: var(--color-black);

    @media (max-width: $md4+px) {
      display: none;
    }
  }

  // .link-download__name
  &__name {
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    color: var(--color-black);
  }

  // .link-download__person
  &__person {
    padding: 5px 15px;
    font-size: 14px;
    color: var(--color-gray-dark);
    border: 1px solid var(--color-gray-dark);
  }

  // .link-download__icon
  &__icon {
    font-size: 28px;
    color: var(--color-black);
  }
}

.date {
  color: var(--color-gray-dark);
  font-size: 14px;
  white-space: nowrap;

  i {
    color: var(--color-gold);
  }
}

[aria-label="breadcrumb"] {
  --bs-breadcrumb-divider: '>';
}

.breadcrumb {
  margin: 0px;
  padding: 24px 0px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-gray);
  font-size: 14px;

  // .breadcrumb-item a
  &-item a {
    color: var(--color-gray-dark);

    &:hover {
      color: var(--color-gold);
    }
  }

  // .breadcrumb-item.active
  &-item.active {
    color: var(--color-gray);
  }
}

.sidebar {
  height: 100%;
  border-left: 1px solid var(--color-gray)
}

.scrollbar-y {
  .mCSB_container {
    margin-right: 0;
  }

  .mCSB_scrollTools {
    width: 4px;

    .mCSB_dragger:hover .mCSB_dragger_bar {
      width: 4px;
      background: var(--color-gray);
    }

    .mCSB_dragger_bar {
      width: 2px;
      background: var(--color-gray);
    }

    .mCSB_draggerRail {
      background: var(--color-white);
    }
  }
}

.scrollbar-x {
  .mCSB_horizontal.mCSB_inside>.mCSB_container {
    margin-bottom: 0;
  }

  .mCSB_scrollTools {
    .mCSB_dragger .mCSB_dragger_bar {
      background: var(--color-gray);
    }

    .mCSB_draggerRail {
      background: var(--color-white);
    }
  }
}

.item-article {
  padding: 30px 25px 15px;
  border: 1px solid var(--color-gray);
  position: relative;
  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }

  @media (hover: hover) {
    &:hover {
      .item-article__bookmark {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  @media (max-width: $md4+px) {
    padding: 20px 15px 15px;
  }

  &:hover {
    border: 1px solid var(--color-gold);

    .item-article__bookmark {
      opacity: 1;
    }

    .item-article__read-more a {
      opacity: 1;
    }
  }

  // .item-article__bookmark
  &__bookmark {
    opacity: 0;
    font-size: 28px;
    color: var(--color-gray);
    position: absolute;
    top: -12px;
    right: 28px;
    z-index: 2;

    i {
      background-color: var(--color-white);
    }

    &:hover {
      color: var(--color-blue-light);
    }

    @media (hover: hover) {
      opacity: 0;
      visibility: hidden;
    }
  }

  // .item-article__category
  &__category {
    margin: 0px 0px 25px 0px;
    font-size: 14px;
    color: var(--color-gray-dark);
  }

  // .item-article__title
  &__title {
    display: inline-block;
    margin: 0px 0px 16px 0px;
    font-size: 18px;
    color: var(--color-black);
    font-weight: 700;

    i {
      color: var(--color-gold);
    }

    &:hover {
      color: var(--color-gold);
    }
  }

  // .item-article__text
  &__text {
    margin: 0px 0px 30px 0px;
    font-size: 16px;
  }

  // .item-article__footer
  &__footer {
    color: var(--color-gray-dark);
    font-size: 14px;
    display: flex;

    i {
      color: var(--color-gold);
    }

    @media (max-width: $md4+px) {
      display: block;
    }
  }

  // .item-article__date
  &__date {
    margin: 0px 60px 10px 0px;
  }

  // .item-article__list-tags
  &__list-tags {
    display: flex;
  }

  // .item-article__tag
  &__tag {
    margin: 0px 0px 0px 10px;
  }

  // .item-article__read-more
  &__read-more {
    text-align: right;

    a {
      opacity: 0;
      color: var(--color-gold);
      font-size: 18px;

      &:hover {
        color: var(--color-gold);

        i:before {
          transform: translateX(3px);
        }
      }

      @media (max-width: $md1+px) {
        opacity: 1;
      }
    }
  }
}

.sidebar-wrapper {
  display: flex;
  // .sidebar-row__content
  &__content {
    padding: 24px 0px 0px 0px;
    flex: 1 1 auto;
  }

  // .sidebar-row__aside
  &__aside {
    padding: 24px 0px 0px 24px;
    margin: 0px 0px 0px 24px;
    flex: 0 0 345px;
    border-left: 1px solid var(--color-gray);
  }

  @media (max-width: $md1+px) {
    flex-direction: column;

    &__content {
      order: 2;
    }

    &__aside {
      flex: 0 1 auto;
      order: 1;
      padding: 0;
      margin: 24px 0px 0px 0px;
      border: none;

      &.advertising-banner {
        display: none;
      }

      .hidden-title {
        display: none;
      }
    }
  }
}

.nav-links {

  // .list-links__wrapper
  &__wrapper {

  }

  // .list-links__link
  &__link {
    display: block;
    font-size: 16px;
    color: var(--color-blue-light);
    font-weight: 500;

    &:hover {
      color: var(--color-gold);
    }

    &.active {
      color: var(--color-gold);
    }

    &:not(:last-child) {
      margin: 0px 0px 16px 0px;
    }
  }
  
  @media (max-width: $md1+px) {
    border-bottom: 1px solid var(--color-gray);

    &__wrapper {
      margin: 0px 0px -1px 0px;
      display: flex;
      align-items: center;
      overflow: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }

    &__link {
      padding: 10px 20px;
      border-bottom: 2px solid transparent;

      &:not(:last-child) {
        margin: 0px 3px 0px 0px;
      }

      &.active {
        border-bottom: 2px solid var(--color-gold);
      }

    }
  }
}

.list-hashtag {
  margin: 0 auto;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  // .list-hashtag__hashtag
  &__hashtag {
    display: block;
    margin: 0px 16px 16px 0px;
    font-size: 14px;
    color: var(--color-gray-dark);

    &:hover {
      color: var(--color-gray);
    }
  }

  @media (max-width: $md1+px) {
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.list-documents {
  max-height: 300px;
  border: 1px solid var(--color-gray);
}

.item-document {
  margin: 0px 16px;
  padding: 16px 0;
  font-size: 16px;
  color: var(--color-black);
  display: flex;

  &:hover {
    color: var(--color-gold);
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray);
  }
}

.сounterparty-check {
  padding: 24px;
  border: 1px solid var(--color-gray);

  // .сounterparty-check__title
  &__title {
    margin: 0px 0px 18px 0px;
    font-size: 18px;
  }

  // .сounterparty-check__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
  }

  // .сounterparty-check__input
  &__input {
    flex: 1 1 auto;

    input {
      width: 100%;
      padding: 7px 13px;
      color: var(--color-gray-dark);
      border: 1px solid var(--color-gold);
    }
  }
}

.item-event {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-black);
  border: 1px solid var(--color-gray);

  &:hover {
    color: var(--color-black);

    .item-event__photo img {
      transform: scale(1)
    }

    .item-event__title {
      color: var(--color-gold);
    }

    .item-event__read-more {
      opacity: 1;
    }
  }

  // .item-event__photo
  &__photo {
    position: relative;
    padding: 45% 0px 0px 0px;
    overflow: hidden;

    img {
      transition: all 0.3s ease 0s;
      transform: scale(1.02);
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      inset: 0;
    }
  }

  // .item-event__info
  &__info {
    flex: 1 1 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  // .item-event__title
  &__title {
    margin: 0px 0px 16px 0px;
    font-size: 18px;
    font-weight: 700;
  }

  // .item-event__text
  &__text {
    margin: 0px 0px 24px 0px;
    flex: 1 1 auto;
  }

  // .item-event__row
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .item-event__read-more
  &__read-more {
    opacity: 0;
    color: var(--color-gold);
    font-size: 14px;
    @media (max-width: $md1+px) {
      opacity: 1;
    }
  }
}

.list-information-indicators {
  border: 1px solid var(--color-gray);
}

.item-information-indicator {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    &:before {
      content: '';
      width: auto;
      height: 1px;
      background-color: var(--color-gray);
      position: absolute;
      bottom: 0;
      left: 30px;
      right: 30px;
    }
  }

  &:hover {
    color: var(--color-black);
    background-color: rgba(209, 210, 212, 0.2);
  }

  @media (max-width: $md4+px) {
    flex-direction: column;
    align-items: flex-start;
  }
  // .item-information-indicator__number
  &__number {
    flex: 0 0 100px;
    padding: 5px 0px;
    font-size: 20px;
    color: var(--color-gold);
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    border-right: 1px solid var(--color-gold);
    @media (max-width: $md4+px) {
      flex: 1 1 auto;
      border-right: none;
      border-bottom: 1px solid var(--color-gold);
    }
  }

  // .item-information-indicator__text
  &__text {
    padding: 5px 24px;
    flex: 1 1 auto;
    color: var(--color-black);
    font-size: 14px;
    font-weight: 500;
    @media (max-width: $md4+px) {
      padding: 20px 0px;
    }
  }
}

.item-news {
  padding: 24px 0px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-gray);
  }

  &:hover {
    .item-news__read-more {
      opacity: 1;
    }
  }

  // .item-news__title
  &__title {
    display: inline-block;
    margin: 0px 0px 12px 0px;
    color: var(--color-black);
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: var(--color-gold);
    }
  }

  // .item-news__text
  &__text {
    margin: 0px 0px 24px 0px;
  }

  // .item-news__row
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .item-news__read-more
  &__read-more {
    opacity: 0;
    color: var(--color-gold);
    font-size: 18px;

    &:hover {
      color: var(--color-gold);

      i:before {
        transform: translateX(3px);
      }
    }

    @media (max-width: $md1+px) {
      opacity: 1;
    }
  }
}

.overflow-x {
  overflow: hidden;
  overflow-x: auto;
}

.nav-tab {
  border-bottom: 1px solid var(--color-gray);

  // .nav-tab_news
  &_news {
    .nav-tab__wrapper {
      white-space: normal;
    }

    @media (max-width: $md1+px) {
      .nav-tab__wrapper {
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
      }

      &__item {
        white-space: nowrap;
      }
    }
  }

  // .nav-tab__wrapper
  &__wrapper {
    margin-bottom: -1px;
    display: flex;
    white-space: nowrap;
  }

  // .nav-tab__button
  &__button {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: var(--color-gray-dark);
    border-bottom: 2px solid transparent;

    &:not(:last-child) {
        margin: 0px 3px 0px 0px;
    }

    &.active {
      color: var(--color-gold);
      border-color: var(--color-gold);
    }

    &:hover {
      color: var(--color-gold);
      border-color: var(--color-gold);
    }
  }
}