.vc-day{
     margin: 5px;
}
.vc-title{
     font-family: $fontFamilyAccent;
}
// .vc-day:has(.vc-focusable){
//      color: red;
// }
.vc-day-content{
     color: var(--color-nav-black);
     // outline: 1px solid red;
     padding: 10px 18px;
     @media (max-width: 1000px) {
          padding: 5px 14px;
     }
     @media (max-width: 500px) {
          padding: 5px 7px;
          font-size: 14px !important;
     }
     @media (max-width: 400px) {
          padding: 5px 3px;
     }
     border-radius: 8px !important;
     min-width: 28px;
     font-size: 16px !important;
     width: auto !important;
     font-weight: 500 !important;
     transition: all ease-out .3s;
     &:hover, &:focus{
          background-color: var(--color-gold-light) !important;
     }
}
.vc-focusable{
}

.vc-day-popover-container{
     background-color: var(--color-white) !important;
     color: var(--color-nav-black) !important;
     border: 1px solid var(--color-gold-light) !important;
     .vc-day-popover-header{
          color: var(--color-black) !important;
     }
}

.vc-day-layer{
     left: 32px !important;
     top: auto;
     bottom: 7px !important;
     right: auto;
     // position: static !important;
     display: flex;
     @media (max-width: 1000px) {
          left: 28px !important;
     }
}

.vc-dots{
     flex-direction: column;
}

.vc-dot{
     width: 7px !important;
     height: 7px !important;
}

.vc-dot:not(:last-child){
     margin-right: 0 !important;
     margin-bottom: 3px;
}

.vc-day-box-center-center{
     flex-direction: row !important;
}
.vc-day-box-center-bottom{
     flex-direction: row !important;
}

.vc-highlights{
     position: absolute !important;
}

.weekday-1,.weekday-7{
     .vc-day-content{
          color:  var(--color-gold-light);
          &:hover, &:focus{
               color: var(--color-nav-black);
          }
     }
}

.is-today{
     .vc-day-content{
          border: 2px solid var(--color-gold-light);
     }
}

.vc-container{
     width: 100% !important;
}
.vc-container{
     border: none !important;
}

.calendar-tabs-wrapper{
     width: 100%;
     display: flex;
     input[type='radio']{
          display: none;
     }
     label{
          cursor: pointer;
          z-index: 3;
          &:hover{
          }
     }
     .tab-underline{
          z-index: 2;
          width: 100%;
          height: 2px;
          background-color: var(--color-gray);
     }
     .tab-underline-accent{
          z-index: 3;
          position: relative;
          background-color: var(--color-gold);
          width: 50%;
          height: 2px;
          top: 2px;
          transition: all ease-out .3s;
          transform: translate(100%);
     }
     .tab-underline-accent.tab-underline-checked{
          transform: translateX(0%);
     }
}

.is-interactive {
     display: none !important;
}

.calendar-content{
     max-height: 326px;
     overflow-y: auto;
     overflow-x: hidden;
     padding-right: 25px;
     @media (max-width: 1000px) {
          padding-right: 5px;
     }
     &::-webkit-scrollbar {
          width:  3px;
          height: 3px;
     }
     &::-webkit-scrollbar-thumb {
          background: #D9D9D9;
     }
     &::-webkit-scrollbar-track {
          background: transparent;
          border-radius: 4px;
     }
      // For Internet Explorer
     &{
          scrollbar-face-color: #D9D9D9;
          scrollbar-track-color: transparent;
     }
}

.calendar-wrapper{
     padding: 16px;
     background-color: var(--color-white);
     border-radius: 20px;
     border: 1px solid var(--color-gray);
     @media (max-width: 560px) {
          padding: 4px;
     }
}

.calendar-dot{
     display: inline-block;
     border-radius: 50%;
     &-pay{
          background-color: var(--color-blue-light);
     }
     &-show{
          background-color: var(--color-gold);
     }
     &-sm{
          width: 12px;
          height: 12px;
     }
     &-lg{
          width: 18px;
          height: 18px;
     }
}


.work-time-elem{
     span{
          font-weight: 500;
     }
}
.time-underline{
     width: 100%;
     max-width: 30%;
     border-bottom: 1px dashed var(--color-gold);
}

.calendar-today{
     border-radius: 20px;
     border: 1px solid var(--color-gray);
     background-color: var(--color-white);
     padding: 32px 24px;
}

.etc-weekend{
     .vc-day-content{
          color:  var(--color-gold-light);
          &:hover, &:focus{
               color: var(--color-nav-black);
          }
     }
}

.calendar-info-block{
     cursor: pointer;
     color: var(--color-nav-black);
     &:hover{
          color: var(--color-gold);
     }
}

.vc-day-popover-row-indicator{
     --blue-500: var(--color-nav-black)
}