<!DOCTYPE html>
<html lang="ru">
@@include('_head.html',{
"title":"Личный кабинет"
})

<body>
     <div class="wrapper">
          @@include('_header.html',{})
          <main class="page">
               <nav aria-label="breadcrumb">
                    <div class='container'>
                         <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="main.html"><i class="bi bi-house"></i></a></li>
                              <li class="breadcrumb-item"><a href="main.html">Сервисы</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Выбор режима налогообложения</li>
                         </ol>
                    </div>
               </nav>
               <section class="mb-5">
                    <div class='container'>

                         <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                         <div class="sidebar-wrapper" id="app">
                              <div class="sidebar-wrapper__content access-content">
                                   <h1 class="h1">Выбор режима налогообложения</h1>

                                   <button @click="delel">del el</button>
                                   <input type="text" class="js-range-slider" name="my_range" value="" />
                                   <transition-group tag="div" class="row w-100" name="card-filter">
                                        <div v-for="item in listItems" :key="item.id" class="col-md-4 card-filter my-2"
                                             v-if="show">
                                             <div
                                                  class="card-wrapper d-flex flex-column my-2 justify-content-between p-4 h-100">
                                                  <h4 class="h4">{{item.title}}</h4>
                                                  <p>
                                                       {{item.body}}
                                                  </p>
                                                  <div class="mt-auto py-3 card-wrapper__more">
                                                       Подробнее
                                                  </div>
                                             </div>
                                        </div>
                                   </transition-group>



                                   <div class="w-100">
                                        <!-- <input :value="text" @input="onInput" placeholder="Type here">
                                        <p>{{ text }}</p>
                                        <button @click="increment">count is: {{ count }}</button> -->
                                   </div>




                              </div>
                              <aside data-da=".sidebar-wrapper__content,1100,1" class="sidebar-wrapper__aside mb-4">
                                   <h4 class="h4 h4_gold hidden-title">Фильтры</h4>
                                   <nav class="nav-links mb-4">
                                        <div class="nav-links__wrapper">
                                             <a class="nav-links__link">Категория налогоплательщика</a>
                                             <a class="nav-links__link">Особенности</a>
                                             <a class="nav-links__link">Размер дохода за год</a>
                                             <a class="nav-links__link">Количество сотрудников</a>
                                        </div>
                                   </nav>

                              </aside>


                         </div>
                         <script type="application/javascript">


                              const vueApp = new Vue({
                                   el: '#app',
                                   components: {
                                   },
                                   data() {
                                        return {
                                             text: '',
                                             count: 0,
                                             listItems: [],
                                             show: true,
                                        }
                                   },
                                   methods: {
                                        onInput(e) {
                                             this.text = e.target.value
                                        },
                                        increment() {
                                             this.count++
                                        },
                                        async getData() {
                                             try {
                                                  const res = await fetch("https://jsonplaceholder.typicode.com/posts")
                                                  const finalRes = await res.json()
                                                  this.listItems = finalRes.slice(0, 8)
                                             }
                                             catch (error) {
                                                  console.log('There was an error', error)
                                             }
                                        },
                                        delel() {
                                             this.listItems.pop()
                                        }
                                   },
                                   mounted() {
                                        this.getData()
                                   }
                              })
                         </script>
                         <script>

                              $(".js-range-slider").ionRangeSlider({
                                   skin: "round",
                                   type: "double",
                                   from: 0,
                                   from_fixed: true,
                                   min: 0,
                                   max: 5,
                                   grid: true,
                                   grid_num: 5,
                                   postfix: ' млн.',
                                   step: 0.05
                                   // values: ["без ограничений"]
                              });
                         </script>

                    </div>
               </section>
          </main>
          @@include('_footer.html',{})
     </div>
     @@include('_js.html',{})
</body>

</html>