<!DOCTYPE html>
<html lang="ru">
@@include('_head.html',{
"title":"Архив налоговых календарей"
})

<body>
     @@include('./new-main/main-components/_new-header.html')
     @@include('./new-main/main-components/_search-modal.html')
     @@include('./new-main/main-components/_nav.html')

     <div class="nav-container active-container">
          
          <!-- Nav Button -->
          <a class="" id="menu-btn"><i class="bi bi-chevron-right"></i></a>
          <!--Nav Button -->
          <div class="main-content">
               <section class="main-section">
                    <div class="row">
                         <nav aria-label="breadcrumb" class="col-12">
                              <ol class="breadcrumb">
                                   <li class="breadcrumb-item"><a href="main.html"><i class="bi bi-house"></i></a></li>
                                   <li class="breadcrumb-item"><a href="topic-list.html">Подборки по темам</a></li>
                                   <li class="breadcrumb-item active" aria-current="page">Отпускные</li>
                              </ol>
                         </nav>
                    </div>
               </section>
               <div class="mt-4"></div>
               <div class="main-section">
                    <div id="app">
                         <div class="row">
                              <div class="col-xl-9 col-12">
                                   <div class="">
                                        <div
                                             class="ff-inter fs-28 d-flex flex-row justify-content-xl-start justify-content-between gap-1  align-items-end">
                                             <div class="">
                                                  <strong>
                                                       <span>Подборка по теме</span> <span class="color-gold">отпускные</span>
                                                  </strong>
                                             </div>
                                             <strong class="color-gray-dark">45</strong>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-xxl-9 col-xl-8 d-flex flex-column order-xl-1 order-2 my-3">
                                   <div class="d-flex flex-column w-100">
                                        <nav class="topic-section-nav-links">
                                             <div class="topic-section-nav-links__wrapper">
                                                  <button 
                                                       v-for="(tab, index) in tabs" 
                                                       :key="index" 
                                                       href="#" 
                                                       class="topic-section-nav-links__link"
                                                       :class="{ active: index === activeTabIndex }" 
                                                       @click.prevent="setActiveTab(index)">
                                                       {{ tab.name }} <span v-if="tab.count !== ''">&ensp;({{ tab.count }})</span>
                                                  </button>
                                             </div>
                                        </nav>
                                        
                                        <div 
                                             v-for="(tab, index) in tabs" 
                                             :key="index" 
                                             :class="['list-recent-articles mt-4', { 'd-none': index !== activeTabIndex }]"
                                        >
                                             <div 
                                                  class="list-recent-articles-container"
                                             >
                                                  <div class="" v-if="index === 0">
                                                       <div class="item-article border-20">
                                                            <button type="button" class="item-article__bookmark" title="Добавить в закладки">
                                                                 <i class="bi bi-bookmark"></i>
                                                            </button>
                                                            <div class="item-article__category">
                                                                 Организациям / Отпускные
                                                            </div>
                                                            <h5>
                                                                 <a href="item-section.html" class="item-article__title">
                                                                      <i class="bi bi-lock-fill me-3"></i>
                                                                      Как изменить сроки уплаты таможенных платежей
                                                                 </a>
                                                            </h5>
                                                            <div class="item-article__text">
                                                                 В современных условиях индивидуальным предпринимателям иногда требуется изменить срок
                                                                 уплаты платежей, взимаемых таможней. Как это правильно сделать — ответ в настоящей
                                                                 публикации.
                                                            </div>
                                                            <div class="item-article__footer">
                                                                 <div class="item-article__date date">
                                                                      <i class="bi bi-calendar me-2"></i>
                                                                      20.05.2022
                                                                 </div>
                                                                 <div class="item-article__list-tags">
                                                                      <i class="bi bi-tag"></i>
                                                                      <div class="d-flex flex-wrap">
                                                                           <div class="item-article__tag">Таможенные платежи</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                      </div>
                                                                 </div>
                                                            </div>
                                                            <div class="item-article__read-more">
                                                                 <a href="#">
                                                                      Читать
                                                                      <i class="bi bi-arrow-right ms-2"></i>
                                                                 </a>
                                                            </div>
                                                       </div>
                                                       <div class="item-article border-20">
                                                            <button type="button" class="item-article__bookmark" title="Добавить в закладки">
                                                                 <i class="bi bi-bookmark"></i>
                                                            </button>
                                                            <div class="item-article__category">
                                                                 Индивидуальным предпринимателям / Отпускные
                                                            </div>
                                                            <h5>
                                                                 <a href="item-section.html" class="item-article__title">
                                                                      <i class="bi bi-lock-fill me-3"></i>
                                                                      Как изменить сроки уплаты таможенных платежей
                                                                 </a>
                                                            </h5>
                                                            <div class="item-article__text">В современных условиях индивидуальным предпринимателям
                                                                 иногда требуется изменить срок уплаты платежей, взимаемых таможней. Как это
                                                                 правильно сделать — ответ в настоящей публикации.
                                                            </div>
                                                            <div class="item-article__footer">
                                                                 <div class="item-article__date date">
                                                                      <i class="bi bi-calendar me-2"></i>
                                                                      20.05.2022
                                                                 </div>
                                                                 <div class="item-article__list-tags">
                                                                      <i class="bi bi-tag"></i>
                                                                      <div class="d-flex flex-wrap">
                                                                           <div class="item-article__tag">Таможенные платежи</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                      </div>
                                                                 </div>
                                                            </div>
                                                            <div class="item-article__read-more">
                                                                 <a href="item-section.html">
                                                                      Читать
                                                                      <i class="bi bi-arrow-right ms-2"></i>
                                                                 </a>
                                                            </div>
                                                       </div>
                                                       <div class="item-article border-20">
                                                            <button type="button" class="item-article__bookmark" title="Добавить в закладки">
                                                                 <i class="bi bi-bookmark"></i>
                                                            </button>
                                                            <div class="item-article__category">
                                                                 Организациям / Отпускные
                                                            </div>
                                                            <h5>
                                                                 <a href="item-section.html" class="item-article__title">
                                                                      <i class="bi bi-lock-fill me-3"></i>
                                                                      Как изменить сроки уплаты таможенных платежей
                                                                 </a>
                                                            </h5>
                                                            <div class="item-article__text">В современных условиях индивидуальным предпринимателям
                                                                 иногда требуется изменить срок уплаты платежей, взимаемых таможней. Как это
                                                                 правильно сделать — ответ в настоящей публикации.
                                                            </div>
                                                            <div class="item-article__footer">
                                                                 <div class="item-article__date date">
                                                                      <i class="bi bi-calendar me-2"></i>
                                                                      20.05.2022
                                                                 </div>
                                                                 <div class="item-article__list-tags">
                                                                      <i class="bi bi-tag"></i>
                                                                      <div class="d-flex flex-wrap">
                                                                           <div class="item-article__tag">Таможенные платежи</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">ЕАЭС</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                           <div class="item-article__tag">Срок уплаты</div>
                                                                      </div>
                                                                 </div>
                                                            </div>
                                                            <div class="item-article__read-more">
                                                                 <a href="item-section.html">
                                                                      Читать
                                                                      <i class="bi bi-arrow-right ms-2"></i>
                                                                 </a>
                                                            </div>
                                                       </div>
                                                  </div>

                                                  <div v-if="index === 1">
                                                       content 2
                                                  </div>
                                                  <div v-if="index === 2">
                                                       content 3
                                                  </div>
                                                  <div v-if="index === 3">
                                                       content 4
                                                  </div>
                                                  <div v-if="index === 4">
                                                       content 5
                                                  </div>
                                             </div>
                                             
                                        </div>
                                        
                                   </div>
                              </div>
                              <div class="col-xxl-3 col-xl-4 d-flex order-xl-2 order-1 my-3">
                                   <div class="archive-sidebar ps-xl-3 w-100">
                                        <div class="d-flex flex-column">
                                             <div class="">
                                                  <strong class="color-gold fs-20">
                                                       Разделы
                                                  </strong>
                                             </div>
                                             <div class="mt-xl-4 mt-2"></div>
                                             <div class="d-flex flex-column gap-xl-20 gap-2">
                                                  <a href="" target="_blank" rel="noopener noreferrer" class="sive-bar-link">
                                                       <span>Организациям</span> <span class="color-gray-dark">(45)</span>
                                                  </a>
                                                  <a href="" target="_blank" rel="noopener noreferrer" class="sive-bar-link">
                                                       <span>Индивидуальным предпринимателям</span> <span class="color-gray-dark">(22)</span>
                                                  </a>
                                                  <a href="" target="_blank" rel="noopener noreferrer" class="sive-bar-link">
                                                       <span>Физическим лицам</span> <span class="color-gray-dark">(21)</span>
                                                  </a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <script src="https://unpkg.com/vue@2"></script>
                    <script async>
                         // Vue.component('test-comp', {
                         // })
                         // Vue.component('v-calendar', window.VCalendar)
                         new Vue({
                              el: '#app',
                              data() {
                                   return {
                                        tabs: [
                                             { name: "Все", count: '' },
                                             { name: "Аналитические материалы", count: 12 },
                                             { name: "Новости", count: 16 },
                                             { name: "Медиатека", count: 5 },
                                             { name: "Вопрос-ответ", count: 0 }
                                        ],
                                        containers: [],
                                        activeTabIndex: 0
                                   }
                              },
                              computed: {
                                   
                              },
                              watch: {},
                              methods: {
                                   setActiveTab(index) {
                                        this.activeTabIndex = index;
                                   },
                              },
                              created() {
                              },
                              mounted() {
                                   
                              },
                              updated() {
                              }
                         })
                    </script>
               </div>
               <div class="mt-4"></div>
          </div>
          <div class="my-5"></div>
          @@include('./new-main/main-components/_new-footer.html')
     </div>
     @@include('_js.html',{})
</body>

</html>