<div class="main-section">
          <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
               <div class="">
                    <strong class="ff-inter fs-28">
                         Налоговый календарь
                    </strong>
               </div>
               <div class="">
                    <a href="" target="_blank" rel="noopener noreferrer" 
                    class="color-gray-dark d-flex flex-row align-items-center hover-orange">
                         <span>Архив налоговых календарей</span>
                         <i class="bi bi-arrow-right ms-2"></i>
                    </a>
               </div>
          </div>
          <div class="mt-4" id="vueCalendar">
               <div class="calendar-wrapper row row-container border-0">
                    <div class="col-12">
                         <div class="calendar-tabs-wrapper d-flex flex-column">
                              <div class="d-flex flex-row justify-content-around w-100">
                                   <input type="radio" name="calendarType" id="calendarOrg" v-model="typeMode" value="calendarOrg"
                                        v-on:click="this.typeMode = 'calendarOrg'">
                                   <label for="calendarOrg" class="tab-toggle w-100 d-flex justify-content-start color-gray-dark px-3">
                                        Налоговый календарь организации
                                   </label>
                                   <input type="radio" name="calendarType" id="calendarIP" v-model="typeMode" value="calendarIP"
                                        v-on:click="this.typeMode = 'calendarIP'">
                                   <label for="calendarIP" class="tab-toggle w-100 d-flex justify-content-start color-gray-dark px-3">
                                        Налоговый календарь индивидуального предпринимателя
                                   </label>
                              </div>
                              <div class="tab-underline-accent"></div>
                              <div class="tab-underline w-100"></div>
                         </div>
                    </div>
                    <div class="mt-4"></div>
                    <div class="col-xxl-6 border border-1 border-20 my-1">
                         <!-- <button @click="testCheck">get current month</button> -->
                         <!-- <div class="">{{currentMonth}}</div> -->
                         
                         <v-calendar 
                         borderless 
                         :attributes='attributes'
                         :min-date="minDate"
                         :max-date="maxDate"
                         @dayclick="onDayClick"
                         ref="calendar"
                         :disabled-dates="disabledDates"
                         ></v-calendar>
                         <!-- <test-comp @message-updated="updateMessage"></test-comp>
                         <div v-if="messageFromChild">
                              {{ messageFromChild }}
                         </div> -->
                         <!-- <div class="" v-if="selectedDate === null">
                              Ничего не выбрано
                         </div> -->
                         <!-- <div class="" v-if="selectedDate">
                              <div class="" v-if="selectedDate !== null">
                                   {{selectedDate}}
                              </div>
                         </div> -->
                    </div>
                    <div class="col-xxl-6 d-flex flex-column my-1">
                         <div class="calendar-today">
                              <span class="color-nav-black d-block">Сегодня</span>
                              <div class="mt-2">
                                   <i class="bi bi-calendar color-gold fs-14 me-1"></i>
                                   <span class="color-gold fs-24 ff-pt-serif">{{weekTime.todayDate?.dateNumber}}</span>
                                   <span class="fs-24 ff-pt-serif">({{weekTime.todayDate?.dayOfWeek}})</span>
                              </div>
                         </div>
                         <div class="col-12 d-flex align-items-center mt-4">
                              <div class="calendar-dot calendar-dot-lg calendar-dot-pay me-1"></div>
                              <span class="color-gray-dark fs-14">Уплата налогов, сборов и неналоговых платежей</span>
                         </div>
                         <div class="col-12 d-flex align-items-center mt-3">
                              <div class="calendar-dot calendar-dot-lg calendar-dot-show me-1"></div>
                              <span class="color-gray-dark fs-14">Представление деклараций</span>
                         </div>
                    
                    </div>
                    
               </div>

               <div class="col-xxl-5 col-12">
                    
               </div>
               <!-- <div class="calendar-time-block" v-for="(value, key) in weekTime">
                    <div>{{ key }}--{{value}}</div>
               </div> -->
               <div class="row row-container">
                    <div class="col-xxl-5">
                         <div class="work-time-elem d-flex flex-row align-items-center justify-content-between mt-2">
                              <span class="fs-16 color-nav-black">Календарные дни</span>
                              <div class="time-underline mt-2 mx-2"></div>
                              <span class="color-gold fs-18">{{weekTime.sumDays}}</span>
                         </div>
                    </div>
                    <div class="col-xxl-7"></div>
                    <div class="col-12 mt-3"></div>
                    <div class="col-xxl-5 d-flex flex-column justify-content-between my-1">
                         <div class="work-day-block">
                              <span class="fs-16 d-block">
                                   Рабочие дни:
                              </span>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">по пятидневной рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.workFive}}</span>
                              </div>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">по шестидневной рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.workSix}}</span>
                              </div>
                         </div>
                         <div class="work-day-block mt-2">
                              <span class="fs-16 d-block">
                                   Нерабочие дни (выходные и праздничные дни): 
                              </span>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">по пятидневной рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.offFive}}</span>
                              </div>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">по шестидневной рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.offSix}}</span>
                              </div>
                         </div>
                    </div>
                    <div class="col-xxl-5 d-flex flex-column justify-content-between">
                         <div class="work-day-block">
                              <span class="fs-16 d-block">
                                   Расчетная норма рабочего времени (в часах):
                              </span>
                              <span class="fs-14">для пятидневной рабочей недели:</span>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">при 40-часовой рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.timeFiveWeek40}}</span>
                              </div>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">при 35-часовой рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.timeFiveWeek35}}</span>
                              </div>
                         </div>
                         <div class="work-day-block mt-2">
                              <span class="fs-14">для шестидневной рабочей недели:</span>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">при 40-часовой рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.timeSixWeek40}}</span>
                              </div>
                              <div class="work-time-elem d-flex flex-row align-items-center justify-content-between my-1">
                                   <span class="fs-16 color-nav-black">при 35-часовой рабочей неделе</span>
                                   <div class="time-underline mt-2 mx-2"></div>
                                   <span class="color-gold fs-18">{{weekTime.timeSixWeek35}}</span>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row mt-5">
                    <div class="col-xxl-6">
                         <strong class="ff-pt-serif fs-24">События в
                              <span v-if="monthTitle">{{monthTitle}}</span> <span v-if="yearTitle">{{yearTitle}}</span> года</strong>
                         <div class="calendar-content ">
                              <strong v-if="everyDayArr.length !== 0" class="ff-pt-serif">Ежедневно</strong>
                              <div class="mt-2"></div>
                              <div class="my-2" v-for="info in everyDayArr">
                                   <div v-if="info.weekend !== true">
                                        <a class="d-flex calendar-info-block row row-container" href="" target="_blank">
                                             <div class="col-md-5" v-if="info.show === true">
                                                  <div class="calendar-dot calendar-dot-sm calendar-dot-show me-1"></div>
                                                  Представление
                                                  <span v-if="info.show === true && info.addText.category === 'show'">
                                                       {{info.addText.text}}
                                                  </span>
                                             </div>
                                             <div class="col-md-6" v-if="info.description">
                                                  {{info.description.desShow}}
                                             </div>
                                             <div class="col-md-1" v-if="info.description.desShow">
                                                  <i class="bi bi-arrow-right"></i>
                                             </div>
                                        </a>
                                        <a class="d-flex calendar-info-block row row-container" href="" target="_blank">
                                             <div class="col-md-5" v-if="info.pay === true">
                                                  <div class="calendar-dot calendar-dot-sm calendar-dot-pay me-1"></div>
                                                  Уплата
                                                  <span v-if="info.pay === true && info.addText.category === 'pay'">
                                                       &nbsp;{{info.addText.text}}
                                                  </span>
                                             </div>
                                             <div class="col-md-6" v-if="info.description">
                                                  {{info.description.desPay}}
                                             </div>
                                             <div class="col-md-1" v-if="info.description.desPay">
                                                  <i class="bi bi-arrow-right"></i>
                                             </div>
                                        </a>
                                        <hr class="d-block mt-2">
                                   </div>
                              </div>
                              <div class="my-2" v-for="info in sortedDates">
                                   <div v-if="info.weekend !== true">
                                        <div class="" :id="'date' + info?.date.split('-').join('')">
                                             <strong class="ff-pt-serif">
                                                  {{info.date}}
                                             </strong>
                                        </div>
                                        <div class="mt-2"></div>
                                        <div class="mt-2">
                                             <a class="d-flex calendar-info-block row row-container" href="" target="_blank">
                                                  <div class="col-md-5" v-if="info.show === true">
                                                       <div class="calendar-dot calendar-dot-sm calendar-dot-show me-1"></div>
                                                       Представление
                                                       <span v-if="info.show === true && info.addText.category === 'show'">
                                                            &nbsp;{{info.addText.text}}
                                                       </span>
                                                  </div>
                                                  <div class="col-md-6" v-if="info.description">
                                                       {{info.description.desShow}}
                                                  </div>
                                                  <div class="col-md-1" v-if="info.description.desShow">
                                                       <i class="bi bi-arrow-right"></i>
                                                  </div>
                                             </a>
                                             <a class="d-flex calendar-info-block row row-container" href="" target="_blank">
                                                  <div class="col-md-5" v-if="info.pay === true">
                                                       <div class="calendar-dot calendar-dot-sm calendar-dot-pay me-1"></div>
                                                       Уплата
                                                       <span v-if="info.pay === true && info.addText.category === 'pay'">
                                                            &nbsp;{{info.addText.text}}
                                                       </span>
                                                  </div>
                                                  <div class="col-md-6" v-if="info.description">
                                                       {{info.description.desPay}}
                                                  </div>
                                                  <div class="col-md-1" v-if="info.description.desPay">
                                                       <i class="bi bi-arrow-right"></i>
                                                  </div>
                                             </a>
                                        </div>
                                        <hr class="d-block mt-2">
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <!-- <div class="" v-for="(value, key) in weekTime">
                    {{key}}-{{value}}
               </div> -->
          </div>

          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://unpkg.com/vue@2"></script>
          <script src="https://unpkg.com/@popperjs/core@2"></script>
          <script src="https://unpkg.com/v-calendar"></script>
          <script >
          Vue.component('v-calendar', window.VCalendar)
          new Vue({
               el: '#vueCalendar',
               // props: {
               //      name: String
               // },
               components: {
               },
               data() {
                    return{
                         isOn: 'false',
                         // placeholder data
                         dates: [
                              {
                                   date: '2023-12-03',
                                   pay: false,
                                   show: false,
                                   weekend: true,
                                   addText:  {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: '',
                                        desShow: ''
                                   },
                                   dateCategory: ''
                              },
                              {
                                   date: '2023-12-04',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText:  {
                                        text: '(за исключением нерезидентов)',
                                        category: 'pay'
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: 'Налог на доходы иностранных организаций, не осуществляющих деятельность в Республике Беларусь через постоянное представительство',
                                        desShow: 'Утилизационный сбор'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-12-28',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText:  {
                                        text: '(за исключением нерезидентов)',
                                        category: 'pay'
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: 'На доходы налог иностранных организаций, не осуществляющих деятельность в Республике Беларусь через постоянное представительство',
                                        desShow: 'Утилизационный сбор'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-12-15',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: true,
                                   description: {
                                        desPay: 'Оффшорный сбор',
                                        desShow: 'НДС'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-12-25',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: 'Оффшорный сбор',
                                        desShow: 'НДС'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2024-01-10',
                                   pay: false,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: '',
                                        desShow: 'Текст'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-12-12',
                                   pay: true,
                                   show: false,
                                   weekend: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay:'Утилизационный сбор',
                                        desShow:''
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2024-01-25',
                                   pay: true,
                                   show: false,
                                   weekend: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay:'Утилизационный сбор',
                                        desShow: ''
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-12-06',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '(за исключением нерезидентов)',
                                   category: 'pay',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на прибыль',
                                   desShow: 'Утилизационный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-12-05',
                                   pay: false,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: '',
                                   desShow: 'Оффшорный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2024-01-10',
                                   pay: true,
                                   show: false,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Акцизный сбор',
                                   desShow: '',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-12-14',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на имущество организаций',
                                   desShow: 'Акцизный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-12-20',
                                   pay: true,
                                   show: false,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Утилизационный сбор',
                                   desShow: '',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2024-01-25',
                                   pay: false,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: '',
                                   desShow: 'Налог на добавленную стоимость',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-12-30',
                                   pay: false,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: '',
                                   desShow: 'Утилизационный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-12-05',
                                   pay: true,
                                   show: true,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на доходы иностранных организаций',
                                   desShow: 'Акцизный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2024-01-10',
                                   pay: true,
                                   show: false,
                                   weekend: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Оффшорный сбор',
                                   desShow: '',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                         ],
                         selectedDate: null,
                         typeMode:'calendarOrg',
                         attributes: [],
                         minDate: null,
                         maxDate: null,
                         messageFromChild: null,
                         everyDayArr: [],
                         monthArr: [], 
                         sortedDates: [],
                         checkedDates: [],
                         dateToShow: [],
                         weekTime: {
                              sumDays: 0,
                              workFive: 0,
                              workSix: 0,
                              offFive: 0,
                              offSix: 0,
                              timeFiveWeek40: 0,
                              timeFiveWeek35: 0,
                              timeSixWeek40: 0,
                              timeSixWeek35: 0,
                              todayDate: {
                                   dateNumber: '',
                                   dayOfWeek: '',
                              },
                         },
                         monthTitle: '',
                         currentMonth: 0,
                         yearTitle: '',
                         disabledDates : [], 
                         mode: null,
                         selectedMonth: '',
                    }
               },
               computed: {
                    computedWeekTime(){
                         const weekTime = {}
                         this.weekTime = {
                              sumDays: 31,
                         }
                         return weekTime
                    }
               },
               watch: {
                    // watchChange(typeMode){
                    //      this.changeType()
                    // }
                    typeMode(newVal) {
                         this.attributes = []
                         this.dateToShow = this.checkedDates.filter(el => {
                              let months = new Date(el.date).getMonth() + 1
                              return el.dateCategory === newVal && months == this.currentMonth
                         });
                         this.setAttributes()
                         this.changeType()
                    },
                    currentMonth(newVal){
                         this.setAttributes()
                         this.calcTime()
                         this.markWeekend()
                    }
               },
               methods: {
                    updateMessage(message) {
                         this.messageFromChild = message
                    },
                    disableDate(){
                         // this.isOn= 'true'
                         let disDateArr = []
                         // , '02/05/2024'
                         let arrOfDate = ['01/01/2024', '01/02/2024', '01/07/2024']
                         try {
                              arrOfDate.forEach(el => {
                                   disDateArr.push(new Date(el))
                              });
                         } catch (error) {
                              console.log('error in disable dates', error)
                         }
                         this.disabledDates = disDateArr
                         // console.log('this.dis', this.disabledDates)
                    },
                    fillDates(){
                         // this.dates = Array.from(Array(35).keys())
                         console.log('parent', this.messageFromChild)
                    },
                    calcMinDate(){
                         let lastDay =  new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1)
                         this.minDate = lastDay
                    },
                    calcMaxDate(){
                         let firstDay =  new Date(new Date().getFullYear(), new Date().getMonth() + 2, 0)
                         this.maxDate = firstDay
                    },
                    onDayClick(day) {
                         // day.date if need date in selected
                         this.selectedDate = day.date
                         
                         let blockId = '#date' + day.id.split('-').join('')
                         let elToScroll = document.querySelector(blockId)
                         var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
                         if(elToScroll && !is_safari){
                              elToScroll.scrollIntoView({
                                   behavior : 'smooth',
                                   block : 'center',
                              })
                         }
                         if(elToScroll && is_safari){
                              elToScroll.scrollIntoView(false)
                         }
                    },
                    checkDate(){
                         this.dates.filter(el=>{
                              let dateObj = new Date(el.date) 
                              if(dateObj instanceof Date && !isNaN(dateObj)){
                                   this.checkedDates.push(el)
                              }
                         })
                    },
                    setAttributes() {
                         this.filterDays()
                         this.attributes = []
                         this.dateToShow.forEach(el => {
                              try{
                                   var splitedRule = el.date.split('-')
                                   var formattedDate = new Date(splitedRule[0], new Number(splitedRule[1]) - 1, splitedRule[2])
                              }
                              catch(err){
                                   console.log('Error in date format', err)
                              }
                              let checkValidDateRule = formattedDate instanceof Date && !isNaN(formattedDate)
                              if(checkValidDateRule && el.everyDay !== true){
                                   if(el.show === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#C47A2C'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'show' ? 'Представление' + ' ' + el.addText.text : 'Представление',
                                             },
                                        })
                                   }
                                   if(el.pay === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#034A66'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'pay' ? 'Уплата' + ' ' + el.addText.text : 'Уплата',
                                             },
                                        })
                                   }
                              }
                         })
                    },
                    filterDays(){
                         this.monthArr = []
                         this.everyDayArr = []
                         this.sortedDates = []
                         this.dateToShow.filter(el=>{
                              if(el.everyDay !== true){
                                   this.monthArr.push(el)
                              }
                              else{
                                   this.everyDayArr.push(el)
                              }
                         })
                         this.sortedDates = this.monthArr.sort((a, b)=>{
                              return Number(new Date(a.date)) - Number(new Date(b.date))
                         })
                    },
                    changeType(){
                         let underLine = document.querySelector('.tab-underline-accent')
                         underLine.classList.toggle('tab-underline-checked')
                         this.filterDateToShow()
                    },
                    filterDateToShow(){
                         this.dateToShow = this.checkedDates.filter(el=>{
                              let months = new Date(el.date).getMonth() + 1
                              return el.dateCategory === this.typeMode && months == this.currentMonth
                         })
                    },
                    formatTitle(val){
                         let localMonth = {
                              month: new Date(val).toLocaleString('ru', {
                                   month: 'long',
                              }),
                              year: new Date(val).toLocaleString('ru', {
                                   year: 'numeric',
                              }) 
                         }
                         let splitedTitle = localMonth.month.split('')
                         let filteredTitle = splitedTitle.filter(el=> el !== 'ь')
                         filteredTitle.push('е')
                         filteredTitle.join('')
                         this.monthTitle = filteredTitle.join('')
                         this.yearTitle = localMonth.year
                         this.selectedMonth = localMonth.month
                    },
                    checkMonth(){
                         const target = this
                         const calendar = this.$refs.calendar
                         let arrow = document.querySelectorAll('.vc-arrow')
                         arrow.forEach(function(el){
                              el.addEventListener('click', function(){
                                   // let firstDay = document.querySelector('.vc-day.day-1')
                                   // console.log('firstDay', firstDay)
                                   let newCurrentMonth = calendar.pages[0].month;
                                   target.setNewMonth(newCurrentMonth)
                                   target.filterDateToShow()
                                   target.formatTitle(new Date(calendar.pages[0].year, calendar.pages[0].month - 1, 1).toISOString())
                              })
                         })
                    },
                    setNewMonth(newCurrentMonth){
                         this.currentMonth = newCurrentMonth
                    },
                    calcETCWeekend(){
                         const currentPage = this.$refs.calendar.pages[0]
                         let d = new Date(currentPage.monthComps.year, currentPage.monthComps.month, 0).toLocaleString('default', { month: 'long' });
                         const etcWeekend = this.dates.filter(function(el){
                                   let dayWeedendArr = el.date.split('-')
                                   let dateWeekend = new Date(dayWeedendArr[0], dayWeedendArr[1], 0).toLocaleString('default', { month: 'long' })
                                   return el.weekend === true && d === dateWeekend
                              }).reduce((acc, current) => {
                                   if (!acc.find((item) => item.weekend === current.weekend && item.date === current.date)) {
                                        acc.push(current);
                                   }
                                   return acc;
                         }, [])
                         return etcWeekend
                    },
                    calcTime(){
                         const currentPage = this.$refs.calendar.pages[0]
                         console.log('currentPage', currentPage)
                         console.log('monthComps', currentPage.monthComps)
                         let d = new Date(currentPage.monthComps.year, currentPage.monthComps.month, 0);
                         let getTot = currentPage.monthComps.days
                         this.weekTime.sumDays = getTot
                         
                         

                         // console.log(daysInMonth(d.getMonth(),d.getFullYear()))
                         let sat = new Array();
                         let sun = new Array();
                         let allOff = new Array()
                         let originOff = new Array()
                         etcWeekendLength = this.calcETCWeekend()
                         for(let i=1;i<=getTot;i++){
                              let newDate = new Date(d.getFullYear(),d.getMonth(),i)
                         // console.log(i+"-"+newDate.getDay());
                              if(newDate.getDay()==0){
                                   sat.push(i)
                              }
                              if(newDate.getDay()==6){
                                   sun.push(i)
                              }
                              if(newDate.getDay() == 0 || newDate.getDay() == 6){
                                   allOff.push(i)
                              }
                         }

                         let disNumber = 0
                         try {
                              const disabledDatesThisMonth = this.disabledDates.filter(date => date.getMonth() + 1 === currentPage.monthComps.month)
                              disabledDatesThisMonth.forEach(el => {
                                   console.log('el.getMonth()', el.getMonth())

                                   if (el.getDay() !== 0) {
                                        disNumber++
                                   }
                              });
                              getTot = getTot - disNumber
                              console.log('getTotal', getTot)
                         } catch (error) {
                              console.log('error in calcTime with disDates', error)
                         }
                         
                         this.weekTime.workFive = getTot - allOff.length - etcWeekendLength.length
                         this.weekTime.workSix = getTot - sun.length - etcWeekendLength.length
                         this.weekTime.offFive = allOff.length + etcWeekendLength.length + disNumber
                         this.weekTime.offSix = sun.length + etcWeekendLength.length + disNumber
                         this.weekTime.timeFiveWeek40 = 40/5 * this.weekTime.workFive
                         this.weekTime.timeFiveWeek35 = 35/5 * this.weekTime.workFive
                         this.weekTime.timeSixWeek40 = sun.length * 5 + (getTot - sat.length - sun.length - etcWeekendLength.length) * 7
                         this.weekTime.timeSixWeek35 = sun.length * 5 + (getTot - sat.length - sun.length - etcWeekendLength.length) * 6
                         
                         // console.log('sat', sat);
                         // console.log(sun);
                         // console.log('allOff', allOff)
                    },
                    setToday(){
                         const days = [
                              'воскресенье',
                              'понедельник',
                              'вторник',
                              'среда',
                              'четверг',
                              'пятница',
                              'суббота'
                         ];
                         let day = new Date()
                         let textDay = day.getDay()
                         let numberDay = day.toLocaleDateString('en-GB').split('/')
                         try {
                              this.weekTime.todayDate.dayOfWeek = days[textDay]
                              this.weekTime.todayDate.dateNumber = numberDay[0] + '.' + numberDay[1]
                         } catch (error) {
                              console.log('setToday error', error)
                         }
                         // + ' ' + day.toLocaleString('default', {month: 'long'}) if need text month
                    },
                    markWeekend(){
                         this.dates.forEach(function(el){
                              if(el.weekend === true){
                                   // console.log('el', el)
                                   // console.log('el.date', el.date)
                                   // console.log('mark', document.querySelector('.vc-day.id-' + el.date))
                                   try{
                                        document.querySelector('.id-' + el.date).classList.add('etc-weekend')
                                   }
                                   catch(err){
                                        // console.log('Error in mark', err)
                                   }
                              }
                         })
                    }
                    // testCheck(){
                    //      const calendar = this.$refs.calendar
                    //      console.log('calendar.pages', calendar.pages[0])
                    //      console.log('calendar',calendar)
                    //      console.log('getPageDays', calendar.pageForThisMonth())
                    // },
               },
               mounted() {
                    this.disableDate()
                    this.checkDate()
                    this.calcMinDate()
                    this.calcMaxDate()
                    this.checkMonth()
                    this.currentMonth = new Date().getMonth() + 1
                    this.changeType()
                    this.setAttributes()
                    this.formatTitle(new Date())
                    // this.calcTime()
                    this.setToday()
                    // this.markWeekend()
                    const urlParams = new URLSearchParams(window.location.search)
                    this.typeMode = urlParams.get('mode')
                    this.selectedDate = urlParams.get('date')
                    this.selectedType = urlParams.get('type')
                    console.log('mode', this.typeMode, 'date', this.selectedDate, 'type', this.selectedType)
               }
          })
          </script>
</div>