<div class="main-section">
     <div class="section-accent">
          
          <div class="row row-container" id="vueCalendar">
               
               <div class="col-xxl-6">
                    <button @click="testCheck">get current month</button>
                    <div class="calendar-tabs-wrapper d-flex flex-column">
                         <div class="d-flex flex-row justify-content-around w-100">
                              <input type="radio" 
                              name="calendarType" 
                              id="calendarOrg" 
                              v-model="typeMode" 
                              value="calendarOrg" 
                              v-on:click="this.typeMode = 'calendarOrg'">
                              <label for="calendarOrg" class="tab-toggle w-100 d-flex justify-content-center">Организациям</label>
                              <input type="radio" 
                                   name="calendarType" 
                                   id="calendarIP" 
                                   v-model="typeMode" 
                                   value="calendarIP" 
                                   v-on:click="this.typeMode = 'calendarIP'">
                              <label for="calendarIP" class="tab-toggle w-100 d-flex justify-content-center">ИП</label>
                         </div>
                         <div class="tab-underline-accent"></div>
                         <div class="tab-underline w-100"></div>
                    </div>
                    <v-calendar 
                    borderless 
                    :attributes='attributes'
                    :min-date="minDate"
                    :max-date="maxDate"
                    @dayclick="onDayClick"
                    class="mt-3"
                    ref="calendar"
                    ></v-calendar>
                    <!-- <test-comp @message-updated="updateMessage"></test-comp>
                    <div v-if="messageFromChild">
                         {{ messageFromChild }}
                    </div> -->
                    <!-- <div class="" v-if="selectedDate === null">
                         Ничего не выбрано
                    </div> -->
                    <div class="" v-if="selectedDate">
                         <div class="" v-if="selectedDate !== null">
                              {{selectedDate}}
                         </div>
                    </div>
               </div>
               <div class="col-xxl-6">
                    <strong>События в <span v-if="monthTitle">{{monthTitle}}</span> 2023 года</strong>
                    <p>
                         <strong v-if="everyDayArr.length !== 0">Ежедневно</strong>
                    </p>
                    <div class="" v-for="info in everyDayArr">
                         <div class="d-flex flex-row w-100">
                              <div class="d-flex flex-column">
                                   <div class="" v-if="info.show === true">
                                        Представление
                                   </div>
                                   <div v-if="info.show === true && info.addText.category === 'show'">
                                        {{info.addText.text}}
                                   </div>
                              </div>
                              <div class="" v-if="info.description">
                                   {{info.description.desShow}}
                              </div>
                         </div>
                         <div class="d-flex flex-row w-100">
                              <div class="d-flex flex-column">
                                   <div class="" v-if="info.pay === true">
                                        Уплата
                                   </div>
                                   <div v-if="info.pay === true && info.addText.category === 'pay'">
                                        &nbsp;{{info.addText.text}}
                                   </div>
                              </div>
                              <div class="" v-if="info.description">
                                   {{info.description.desPay}}
                              </div>
                         </div>
                         <hr class="d-block my-2">
                    </div>
                    <div class="" v-for="info in sortedDates">
                              
                              <!-- <div class="" v-else>
                                   {{key}}--{{value}}
                              </div> -->
                              <!-- <div class="" v-if="key === 'everyDay' && value === true">
                                   Ежедневно
                              </div> -->
                              <div class="">
                                   <strong>
                                        {{info.date}}
                                   </strong>
                              </div>
                              <div class="">
                                   <div class="d-flex flex-row w-100">
                                        <div class="d-flex flex-column">
                                             <div class="" v-if="info.show === true">
                                                  Представление
                                             </div>
                                             <div v-if="info.show === true && info.addText.category === 'show'">
                                                  &nbsp;{{info.addText.text}}
                                             </div>
                                        </div>
                                        <div class="" v-if="info.description">
                                             {{info.description.desShow}}
                                        </div>
                                   </div>
                                   
                                   <div class="d-flex flex-row w-100">
                                        <div class="d-flex flex-row">
                                             <div class="d-flex flex-column">
                                                  <div class="" v-if="info.pay === true">
                                                       Уплата
                                                  </div>
                                                  <div v-if="info.pay === true && info.addText.category === 'pay'">
                                                       &nbsp;{{info.addText.text}}
                                                  </div>                                                  
                                             </div>
                                             <div class="" v-if="info.description">
                                                  {{info.description.desPay}}
                                             </div>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-xxl-6 d-flex flex-column">
                                   
                              </div>
                         <!-- <div class="">
                              <hr>
                         </div> -->
                    </div>
                    
               </div>
               <!-- <div class="calendar-time-block" v-for="(value, key) in weekTime">
                    <div>{{ key }}--{{value}}</div>
               </div> -->
          </div>

          <template id="test-comp-template">
               <div>
                    <!-- <b v-if="message != null">{{ message }}</b> -->
               </div>
          </template>
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://unpkg.com/vue@2"></script>
          <script src="https://unpkg.com/@popperjs/core@2"></script>
          <script src="https://unpkg.com/v-calendar"></script>
          <script >
          Vue.component('v-calendar', window.VCalendar)
          Vue.component('testComp', {
               template: '#test-comp-template',
               data() {
                    return {
                         message: null,
                    };
               },
               methods: {
                    // async isDayOff(){
                    //      const responce = await fetch('https://isdayoff.ru/230703?cc=BY', {
                    //           mode: 'no-cors',
                    //      })
                    //      console.log('responce', responce)
                    // },
                    checkWeekDay(){
                         axios.get('https://isdayoff.ru/today')
                              .then(response => {
                                   if(response.data == '0'){
                                        this.message = 'Work'
                                   }
                                   else{
                                        this.message = 'DayOff'
                                   }
                                   this.response = response.data;
                                   console.log('response:', this.response);
                                   this.$emit('message-updated', this.message);
                              })
                                   .catch(error => {
                                   console.error('Error:', error);
                              });
                    }
               },
               mounted() {
                    this.checkWeekDay()
               }
          });

          new Vue({
               el: '#vueCalendar',
               // props: {
               //      name: String
               // },
               components: {
               },
               data() {
                    return{
                         isOn: 'false',
                         // placeholder data
                         dates: [
                              {
                                   date: '2023-06-04',
                                   pay: true,
                                   show: true,
                                   weekDay: false,
                                   addText:  {
                                        text: '(за исключением нерезидентов)',
                                        category: 'pay'
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: 'Налог на доходы иностранных организаций, не осуществляющих деятельность в Республике Беларусь через постоянное представительство',
                                        desShow: 'Утилизационный сбор'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-06-15',
                                   pay: true,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: true,
                                   description: {
                                        desPay: 'Оффшорный сбор',
                                        desShow: 'НДС'
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-06-10',
                                   pay: false,
                                   show: true,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay: '',
                                        desShow: ''
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-06-12',
                                   pay: true,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay:'',
                                        desShow:''
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-06-26',
                                   pay: true,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        desPay:'',
                                        desShow: ''
                                   },
                                   dateCategory: 'calendarOrg'
                              },
                              {
                                   date: '2023-06-01',
                                   pay: true,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                   text: '(за исключением нерезидентов)',
                                   category: 'pay',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на прибыль',
                                   desShow: 'Утилизационный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-05',
                                   pay: false,
                                   show: true,
                                   weekDay: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'НДС',
                                   desShow: 'Оффшорный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-10',
                                   pay: true,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Акцизный сбор',
                                   desShow: 'НДС',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-15',
                                   pay: true,
                                   show: true,
                                   weekDay: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на имущество организаций',
                                   desShow: 'Акцизный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-20',
                                   pay: true,
                                   show: false,
                                   weekDay: true,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Утилизационный сбор',
                                   desShow: 'Налог на имущество физических лиц',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-25',
                                   pay: false,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Акцизный сбор',
                                   desShow: 'Налог на добавленную стоимость',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-06-30',
                                   pay: false,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Налог на доходы физических лиц',
                                   desShow: 'Утилизационный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-08-05',
                                   pay: true,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'Налог на доходы иностранных организаций',
                                   desShow: 'Акцизный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-08-10',
                                   pay: true,
                                   show: false,
                                   weekDay: true,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: true,
                                   description: {
                                   desPay: 'Оффшорный сбор',
                                   desShow: 'Налог на прибыль',
                                   },
                                   dateCategory: 'calendarIP',
                                   },
                                   {
                                   date: '2023-08-15',
                                   pay: false,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                   text: '',
                                   category: '',
                                   },
                                   everyDay: false,
                                   description: {
                                   desPay: 'НДС',
                                   desShow: 'Акцизный сбор',
                                   },
                                   dateCategory: 'calendarIP',
                                   },

                         ],
                         selectedDate: null,
                         typeMode:'calendarOrg',
                         attributes: [],
                         minDate: null,
                         maxDate: null,
                         messageFromChild: null,
                         everyDayArr: [],
                         monthArr: [], 
                         sortedDates: [],
                         checkedDates: [],
                         dateToShow: [],
                         weekTime: {
                              sumDays: 0,
                              workFive: 0,
                              workSix: 0,
                              offFive: 0,
                              offSix: 0,
                              timeFiveWeek40: 0,
                              timeFiveWeek35: 0,
                              timeSixWeek40: 0,
                              timeSixWeek35: 0,
                         },
                         monthTitle: '',
                    }
               },
               computed: {
                    computedWeekTime(){
                         const weekTime = {}
                         this.weekTime = {
                              sumDays: 31,
                         }
                         return weekTime
                    }
               },
               watch: {
                    // watchChange(typeMode){
                    //      this.changeType()
                    // }
                    typeMode(newVal) {
                         this.attributes = []
                         this.dateToShow = this.checkedDates.filter(el => {
                              return el.dateCategory === newVal;
                         });
                         this.setAttributes()
                         this.changeType()
                    },
               },
               methods: {
                    updateMessage(message) {
                         this.messageFromChild = message
                    },
                    test(){
                         this.isOn= 'true'
                    },
                    fillDates(){
                         // this.dates = Array.from(Array(35).keys())
                         console.log('parent', this.messageFromChild)
                    },
                    calcMinDate(){
                         let lastDay =  new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1)
                         this.minDate = lastDay
                    },
                    calcMaxDate(){
                         let firstDay =  new Date(new Date().getFullYear(), new Date().getMonth() + 2, 0)
                         this.maxDate = firstDay
                    },
                    onDayClick(day) {
                         // day.date if need date in selected
                         this.selectedDate = day.id
                         console.log('this.selectedDate = day.id', day)
                    },
                    checkDate(){
                         this.dates.filter(el=>{
                              let dateObj = new Date(el.date) 
                              if(dateObj instanceof Date && !isNaN(dateObj)){
                                   this.checkedDates.push(el)
                              }
                         })
                    },
                    setAttributes() {
                         this.filterDays()
                         this.dateToShow.forEach(el => {
                              try{
                                   var splitedRule = el.date.split('-')
                                   var formattedDate = new Date(splitedRule[0], splitedRule[1], splitedRule[2])
                              }
                              catch(err){
                                   console.log('Error in date format', err)
                              }
                              // console.log('formattedDate', formattedDate)
                              let checkValidDateRule = formattedDate instanceof Date && !isNaN(formattedDate)
                              if(checkValidDateRule && el.everyDay !== true){
                                   if(el.show === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#C47A2C'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'show' ? 'Представление' + ' ' + el.addText.text : 'Представление',
                                             },
                                        })
                                   }
                                   if(el.pay === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#034A66'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'pay' ? 'Уплата' + ' ' + el.addText.text : 'Уплата',
                                             },
                                        })
                                   }
                              }
                              // console.log('attr', this.attributes)
                         })
                    },
                    filterDays(){
                         this.monthArr = []
                         this.everyDayArr = []
                         this.sortedDates = []
                         this.dateToShow.filter(el=>{
                              if(el.everyDay !== true){
                                   this.monthArr.push(el)
                              }
                              else{
                                   this.everyDayArr.push(el)
                              }
                         })
                         this.sortedDates = this.monthArr.sort((a, b)=>{
                              return Number(new Date(a.date)) - Number(new Date(b.date))
                         })
                    },
                    changeType(){
                         let underLine = document.querySelector('.tab-underline-accent')
                         underLine.classList.toggle('tab-underline-checked')
                         this.dateToShow = this.checkedDates.filter(el=>{
                              return el.dateCategory === this.typeMode
                         })
                    },
                    formatTitle(){
                         let localMonth = new Date().toLocaleString('ru', {
                              month: 'long',
                         })
                         let splitedTitle = localMonth.split('')
                         let filteredTitle = splitedTitle.filter(el=> el !== 'ь')
                         filteredTitle.push('е')
                         filteredTitle.join('')
                         this.monthTitle = filteredTitle.join('')
                    },
                    checkMonth(){
                         let arrow = document.querySelectorAll('.vc-arrow')
                         arrow.forEach(function(el){
                              el.addEventListener('click', ()=>{
                                   let firstDay = document.querySelector('.vc-day.day-1')
                                   console.log('firstDay', firstDay)
                              })
                         })
                    },
                    testCheck(){
                         const calendar = this.$refs.calendar
                         console.log(calendar.pages)
                    },
               },
               mounted() { 
                    this.checkDate()
                    this.calcMinDate()
                    this.calcMaxDate()
                    this.changeType()
                    this.setAttributes()
                    this.formatTitle()
                    this.checkMonth()
                    this.testCheck()
               }
          })
          </script>
     </div>
</div>