<div class="main-section">
     <div class="section-accent">
          
          <div class="row row-container" id="vueCalendar">
               <div class="col-xxl-6">
                    <v-calendar 
                    borderless 
                    :attributes='attributes'
                    :min-date="minDate"
                    :max-date="maxDate"
                    @dayclick="onDayClick"
                    ></v-calendar>
                    <test-comp @message-updated="updateMessage"></test-comp>
                    <div v-if="messageFromChild">
                         {{ messageFromChild }}
                    </div>
                    <div class="" v-if="selectedDate === null">
                         Ничего не выбрано
                    </div>
                    <div class="" v-if="selectedDate">
                         <div class="" v-if="selectedDate !== null">
                              {{selectedDate}}
                         </div>
                    </div>
               </div>
               <div class="col-xxl-6">
                    <strong>Ежедневно</strong>
                    <div class="row row-container" v-for="info in everyDayArr">
                         <div class="" v-for="(value, key) in info">
                              <div class="">
                                   <div class="" v-if="key === 'pay' && value === true">
                                        Уплата
                                   </div>
                                   <div class="" v-if="key === 'show' && value === true">
                                        Представление
                                   </div>
                              </div>
                         </div>
                         <hr>
                    </div>
                    <strong>Остальное</strong>
                    <div class="row row-container" v-for="info in sortedDates">
                         <div class="row row-container" v-for="(value, key) in info">
                              
                              <!-- <div class="" v-else>
                                   {{key}}--{{value}}
                              </div> -->
                              <!-- <div class="" v-if="key === 'everyDay' && value === true">
                                   Ежедневно
                              </div> -->
                              <div class="col-xxl-6">
                                   <div class="" v-if="key === 'pay' && value === true">
                                        Уплата
                                   </div>
                                   <div class="" v-if="key === 'show' && value === true">
                                        Представление
                                   </div>
                              </div>
                              <div class="col-xxl-6 d-flex flex-column">
                                   <span>
                                        <div class="" v-if="key === 'date'">
                                             {{value}}
                                        </div>
                                   </span>
                                   <p v-if="key === 'addText' && value instanceof Object && !NaN">
                                        {{value?.text}}
                                   </p>
                              </div>
                         </div>
                         <div class="">
                              <hr>
                         </div>
                    </div>
               </div>
          </div>

          <template id="test-comp-template">
               <div>
                    <!-- <b v-if="message != null">{{ message }}</b> -->
               </div>
          </template>
          <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
          <script src="https://unpkg.com/vue@2"></script>
          <script src="https://unpkg.com/@popperjs/core@2"></script>
          <script src="https://unpkg.com/v-calendar"></script>
          <script>
          // import TestComp from './TestComp.vue';
          Vue.component('v-calendar', window.VCalendar)
          Vue.component('testComp', {
               template: '#test-comp-template',
               data() {
                    return {
                         message: null,
                    };
               },
               methods: {
                    // async isDayOff(){
                    //      const responce = await fetch('https://isdayoff.ru/230703?cc=BY', {
                    //           mode: 'no-cors',
                    //      })
                    //      console.log('responce', responce)
                    // },
                    checkDate(){
                         axios.get('https://isdayoff.ru/today')
                              .then(response => {
                                   if(response.data == '0'){
                                        this.message = 'Work'
                                   }
                                   else{
                                        this.message = 'DayOff'
                                   }
                                   this.response = response.data;
                                   console.log('response:', this.response);
                                   this.$emit('message-updated', this.message);
                              })
                                   .catch(error => {
                                   console.error('Error:', error);
                              });
                    }
               },
               mounted() {
                    this.checkDate()
               }
          });

          new Vue({
               el: '#vueCalendar',
               // props: {
               //      name: String
               // },
               components: {
               },
               data() {
                    return{
                         isOn: 'false',
                         // placeholder data
                         dates: [
                              {
                                   date: '2023-06-04',
                                   pay: true,
                                   show: true,
                                   weekDay: false,
                                   addText:  {
                                        text: '(за исключением нерезидентов)',
                                        category: 'pay'
                                   },
                                   everyDay: false,
                                   description: {
                                        status: true,
                                        text: ''
                                   }
                              },
                              {
                                   date: '2023-06-15',
                                   pay: true,
                                   show: true,
                                   weekDay: true,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: true,
                                   description: {
                                        status: true,
                                        text: ''
                                   }
                              },
                              {
                                   date: '2023-06-10',
                                   pay: false,
                                   show: true,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        status: true,
                                        text: ''
                                   }
                              },
                              {
                                   date: '2023-06-12',
                                   pay: true,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        status: true,
                                        text: ''
                                   }
                              },
                              {
                                   date: '2023-06-26',
                                   pay: true,
                                   show: false,
                                   weekDay: false,
                                   addText: {
                                        text: '',
                                        category: ''
                                   },
                                   everyDay: false,
                                   description: {
                                        status: true,
                                        text: ''
                                   }
                              },
                         ],
                         selectedDate: null,
                         attributes: [],
                         // [
                         //      {
                         //           dot: {
                         //                style: {
                         //                          backgroundColor: '#C47A2C',
                         //                     },
                         //           },
                         //           popover: {
                         //                visibility: 'hover',
                         //                // hideIndicator: true,
                         //                label: 'Take Noah to basketball practice.',
                         //           },
                         //           dates: [
                         //                new Date(2023, 6, 4),
                         //                new Date(2023, 6, 10),
                         //                new Date(2023, 6, 15),
                         //           ],
                         //      },
                         //      {
                         //           dot: {
                         //                style: {
                         //                          backgroundColor: '#034A66',
                         //                     },
                         //           },
                         //           popover: {
                         //                visibility: 'hover',
                         //                // hideIndicator: true,
                         //                label: 'Test',
                         //           },
                         //           dates: [
                         //                new Date(2023, 6, 12),
                         //                new Date(2023, 6, 26),
                         //                new Date(2023, 6, 15),
                         //           ],
                         //      },
                         //      // {
                         //      // highlight: {
                         //      //      style:{
                         //      //           backgroundColor: 'transparent',
                         //      //           border: ' 2px solid #F9B974',
                         //      //           borderRadius: '8px',
                         //      //           fontWeight: '500',
                         //      //           color: 'red'
                         //      //      }
                         //      // },
                         //      // dates: [
                         //      //      new Date(),
                         //      // ],
                         //      // },
                         // ],
                         minDate: null,
                         maxDate: null,
                         messageFromChild: null,
                         everyDayArr: [],
                         monthArr: [], 
                         sortedDates: []
                    }
               },
               watch: {
               },
               methods: {
                    updateMessage(message) {
                         this.messageFromChild = message
                    },
                    test(){
                         this.isOn= 'true'
                    },
                    fillDates(){
                         // this.dates = Array.from(Array(35).keys())
                         console.log('parent', this.messageFromChild)
                    },
                    calcMinDate(){
                         let lastDay =  new Date(new Date().getFullYear(), new Date().getMonth() - 1, 1)
                         this.minDate = lastDay
                    },
                    calcMaxDate(){
                         let firstDay =  new Date(new Date().getFullYear(), new Date().getMonth() + 2, 0)
                         this.maxDate = firstDay
                    },
                    getDates(){
                         this.dates.forEach(el => {
                              try{
                                   var splitedRule = el.date.split('-')
                                   var formattedDate = new Date(splitedRule[0], splitedRule[1], splitedRule[2])
                              }
                              catch(err){
                                   console.log('Error in date format', err)
                              }
                              // console.log('formattedDate', formattedDate)
                              let checkValidDateRule = formattedDate instanceof Date && !isNaN(formattedDate)

                              if(checkValidDateRule && el.everyDay !== true){
                                   if(el.show === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#C47A2C'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'show' ? 'Представление' + ' ' + el.addText.text : 'Представление',
                                             },
                                        })
                                   }
                                   if(el.pay === true){
                                        this.attributes.push({
                                             dates: formattedDate,
                                             dot: {
                                                  style:{
                                                       backgroundColor: '#034A66'
                                                  }
                                             },
                                             popover: {
                                                  visibility: 'hover',
                                                  // hideIndicator: true,
                                                  label: el.addText.category === 'pay' ? 'Уплата' + ' ' + el.addText.text : 'Уплата',
                                             },
                                        })
                                   }
                              }
                              // console.log('attr', this.attributes)
                         });
                    },
                    onDayClick(day) {
                         // day.date if need date in selected
                         this.selectedDate = day.id
                    },
                    filterDays(){
                         this.dates.filter(el=>{
                              if(el.everyDay !== true){
                                   this.monthArr.push(el)
                              }
                              else{
                                   this.everyDayArr.push(el)
                              }
                         })
                         this.sortedDates = this.monthArr.sort((a, b)=>{
                              return Number(new Date(a.date)) - Number(new Date(b.date))
                         })
                    },
               },
               mounted() {
                    this.fillDates()
                    this.calcMinDate()
                    this.calcMaxDate()
                    this.getDates()
                    this.filterDays()
               }
          })
          </script>
     </div>
</div>